@import url("fonts/stylesheet.css");

@font-face {
    font-family: "MyWebFont";
    src:
        url("/fonts/euclid/EuclidCircularB-Light.woff") format("woff"),
        /* Modern Browsers */ url("/fonts/euclid/EuclidCircularB-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

$fontSize: 16px;

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($fontSize)}rem;
}

$colorWhite: #fff;
$colorBlack: #333333;
$colorRealBlack: #000;
$fontFamily: "Museo Sans Cyrl 500";

* {
    box-sizing: border-box;
}

header.header {
    font-family: $fontFamily;
    .header_top {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $colorBlack;
        font-size: 1rem;
        color: $colorWhite;
        z-index: 5;
        .header_container {
            max-width: rem(1450);
            padding-left: rem(15);
            padding-right: rem(15);
            display: flex;
            margin: 0 auto;
            ul {
                display: flex;
                align-items: center;
                column-gap: rem(60);
                margin-top: 0;
                margin-bottom: 0;
                padding: rem(15) 0 rem(14);
                li {
                    list-style: none;
                    display: flex;
                    column-gap: rem(12);
                    width: 11%;
                    select {
                        background-color: #333333;
                        border: 1px solid #333333;
                        appearance: none;
                        background-image: url("../images/header/header_top/arrow.svg");
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position: 100%;
                        background-size: 10px, 5.714px;
                        width: 37%;
                        option {
                            background-color: #333333;
                            border: 1px solid #333333;
                        }
                    }
                }
            }
            ul:nth-of-type(1) {
                display: flex;
                padding-left: 0;
                align-items: center;
                flex: 1 1 auto;
                li:nth-of-type(3) {
                    width: 13%;
                }
                li:nth-of-type(4) {
                    div {
                        position: relative;
                        span {
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            flex-shrink: 0;
                            border-radius: 50%;
                            background-color: $colorWhite;
                            opacity: 0.7;
                            font-size: rem(10);
                            color: #414141;
                            left: 60%;
                            text-align: center;
                        }
                    }
                }
                li:nth-of-type(5) {
                    width: 17%;
                    align-items: center;
                }
            }
            ul:nth-of-type(2) {
                display: flex;
                padding-right: 0;
                align-items: center;
                max-width: rem(174);
                li {
                    button {
                        border: 0px solid transparent;
                        background-color: transparent;
                        color: $colorWhite;
                    }
                }
            }
        }
    }
    .header_content {
        padding-top: rem(65);
        .header_content_container {
            max-width: rem(1450);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: rem(15);
            padding-right: rem(15);
            margin: 0 auto;
            .header_content_left {
            }
            .header_content_center {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                .header_content_center_search {
                    max-width: rem(820);
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    column-gap: rem(21);
                    input {
                        width: 100%;
                        border-bottom: 1px solid #956d84;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                    }
                    input:nth-of-type(1) {
                        max-width: 22.6%;
                    }
                    input:nth-of-type(2) {
                        max-width: 73.2%;
                    }
                }
                .header_content_center_menu {
                    ul {
                        display: flex;
                        column-gap: rem(70);
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: rem(18);
                        text-transform: none;
                        list-style: none;
                        li {
                            a {
                                color: $colorBlack;
                                text-decoration: none;
                            }
                        }
                        li:hover {
                            a {
                                color: #956d84;
                            }
                        }
                    }
                }
            }
            .header_content_right {
                padding-right: 0;
                display: flex;
                flex-direction: column;
                row-gap: rem(16px);
                ul {
                    display: flex;
                    list-style: none;
                    column-gap: 13px;
                    align-items: center;
                    margin: 0 auto;
                    padding-left: 0;
                }
                a {
                    text-decoration: none;
                    font-size: rem(16);
                    font-weight: 300;
                    line-height: rem(18);
                    color: #333;
                }
                div {
                    display: flex;
                    column-gap: 19px;
                    align-items: center;
                    span {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 10px;
                    }
                }
            }
        }
    }
}

// main

main.main {
    font-family: $fontFamily;
    .main_container {
        max-width: rem(1450);
        width: 100%;
        padding-left: rem(15);
        padding-right: rem(15);
        padding-top: rem(55);
        margin: 0 auto;
        .main_discount {
            display: grid;
            grid-template-areas:
                "a a b c"
                "a a d e";
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            gap: rem(28);
            padding-bottom: rem(48);
            div {
                position: relative;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
                & > span {
                    position: absolute;
                    top: rem(40);
                    left: 12%;
                    font-size: rem(36);
                    font-weight: 700;
                    line-height: rem(40);
                    text-align: center;
                }
            }
            .main_discount1 {
                grid-area: 1 / 1 / 3 / 3;
                & > span {
                    max-width: rem(397);
                }
            }
            .main_discount2 {
                grid-area: 1 / 3 / 2 / 4;
            }
            .main_discount3 {
                grid-area: 1 / 4 / 2 / 5;
            }
            .main_discount4 {
                grid-area: 2 / 3 / 3 / 4;
                max-width: rem(336);
                max-height: rem(321);
                background-color: #ffdb6b;
                picture {
                    img {
                        width: calc(100vw / 4 - 69px);
                        display: block;
                        max-width: rem(336);
                        max-height: rem(321);
                        height: 100%;
                        margin-left: auto;
                        object-fit: cover;
                    }
                }
            }
            .main_discount5 {
            }
            .main_discount6 {
                grid-area: 2 / 4 / 3 / 5;
                max-width: rem(336);
                max-height: rem(321);
                position: relative;
                picture:nth-of-type(2) {
                    img {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
            .main_discount7 {
            }
            .main_discount8 {
            }
        }

        .main_photo_report {
            .main_photo_report_blocks {
                position: relative;
                display: flex;
                justify-content: center;
                column-gap: rem(20);
                margin: 0 auto;
                width: 100%;
                font-family: $fontFamily;
                padding-bottom: rem(48);
                & > div {
                    width: calc(100vw / 3 - 20px);
                    img {
                        width: 100%;
                    }
                    h2,
                    p {
                        position: absolute;
                    }
                    h2 {
                        font-size: rem(24);
                        font-style: normal;
                        font-weight: 300;
                        line-height: rem(35);
                    }
                    p {
                        color: #828282;
                        font-size: rem(14);
                        font-weight: 300;
                        line-height: rem(18);
                    }
                }
                & > div:nth-of-type(1) {
                    color: $colorBlack;
                    h2 {
                        top: 9%;
                        left: rem(35);
                        max-width: rem(213);
                    }
                    p {
                        top: 46%;
                        left: rem(35);
                        max-width: rem(197);
                    }
                }
                & > div:nth-of-type(2) {
                    flex: 1 1 auto;
                    color: $colorWhite;
                    h2 {
                        top: 42%;
                        left: 42%;
                        max-width: max-content;
                    }
                    p {
                        top: 64%;
                        left: 38%;
                        max-width: max-content;
                        color: $colorWhite;
                    }
                }
                & > div:nth-of-type(3) {
                    color: $colorBlack;
                    h2 {
                        top: 7%;
                        left: 85%;
                        max-width: rem(178);
                    }
                    p {
                        top: 45%;
                        left: 85%;
                        max-width: rem(262);
                    }
                }
            }
        }
        .main_stock {
            padding-bottom: rem(140);
            & > h2 {
                color: $colorBlack;
                text-align: center;
                font-size: rem(48);
                font-weight: 700;
                line-height: rem(18);
            }
            .main_stock_arrow {
                display: flex;
                justify-content: end;
                column-gap: rem(27);
            }
            .main_stock_blocks {
                display: grid;
                grid-template-columns: repeat(4, minmax(190px, 1fr));
                gap: rem(20);
                .main_stock_card {
                    border: 1px solid #956d84;
                    // opacity: 0.5;
                    padding: 5px 20px 15px 20px;
                    background-color: $colorWhite;
                    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .main_stock_card_top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        & > span {
                            border: 1px dashed #e72222;
                            border-radius: 50%;
                            height: 56px;
                            width: 56px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    & > picture:nth-of-type(1) {
                        img {
                            width: 100%;
                        }
                    }
                    & > span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #956d84;
                        font-family: Euclid Circular B;
                        font-size: rem(16);
                        font-weight: 400;
                        line-height: rem(18);
                        width: 56px;
                        height: 56px;
                        border: 1px solid rgba(157, 117, 140, 0.39);
                        border-radius: 50%;
                        background-color: rgba(157, 117, 140, 0.39);
                        text-transform: uppercase;
                        font-family: MyWebFont;
                        margin-left: auto;
                    }

                    .main_stock_card_med {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        & > h3 {
                            color: $colorBlack;
                            font-size: rem(18);
                            font-weight: 300;
                            line-height: rem(18);
                        }
                        .main_stock_card_price {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            & > span:nth-of-type(1) {
                                color: #bdbdbd;
                                font-size: rem(18);
                                font-weight: 300;
                                line-height: rem(18);
                                text-decoration: line-through;
                                min-width: max-content;
                            }
                            & > span:nth-of-type(2) {
                                color: #956d84;
                                font-size: rem(18);
                                font-weight: 700;
                                line-height: rem(18);
                                min-width: max-content;
                            }
                        }
                    }
                    a:nth-of-type(1) {
                        text-decoration: none;
                        color: $colorWhite;
                        text-align: center;
                        font-family: Museo Sans Cyrl;
                        font-style: normal;
                        font-size: rem(16);
                        font-weight: 700;
                        line-height: rem(18);
                        border-radius: rem(7);
                        background-color: #956d84;
                        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
                        max-width: rem(220);
                        width: 100%;
                        padding: rem(22) rem(52);
                        margin: 0 auto;
                    }
                    a:nth-of-type(2) {
                        color: #828282;
                        text-align: center;
                        font-family: Euclid Circular B;
                        font-size: rem(16);
                        font-style: normal;
                        font-weight: 400;
                        line-height: rem(18);
                        text-decoration-line: underline;
                        padding-top: rem(14);
                    }
                }
            }
            .main_stock_card:nth-of-type(4n + 4) {
                & > picture {
                    & > img {
                        position: relative;
                        max-width: rem(281);
                        padding-bottom: rem(75);
                    }
                }
            }
        }
        .main_sesonal {
            .main_sesonal_top {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: rem(34);
                & > h2 {
                color: $colorRealBlack;
                text-align: center;
                font-size: rem(48);
                font-weight: 700;
                line-height: rem(18);
                flex: 1 1 auto;
            }
            .main_sesonal_arrow {
                display: flex;
                column-gap: rem(27);
            }
            }
            .main_sesonal_blocks {
                display: grid;
                grid-template-columns: repeat(4, minmax(190px, 1fr));
                gap: rem(20);
                .main_sesonal_card {
                    position: relative;
                    border: 1px solid #956d84;
                    // opacity: 0.5;
                    padding: 5px 20px 15px 20px;
                    background-color: $colorWhite;
                    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .main_sesonal_card_top {
                        picture:nth-of-type(1) {
                            img {
                                position: absolute;
                                top: 7%;
                                right: 9%;
                            }
                        }
                        picture:nth-of-type(2) {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    
                    & > span {
                        position: absolute;
                        right: 5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #956d84;
                        font-family: Euclid Circular B;
                        font-size: rem(16);
                        font-weight: 400;
                        line-height: rem(18);
                        width: 56px;
                        height: 56px;
                        border: 1px solid rgba(157, 117, 140, 0.39);
                        border-radius: 50%;
                        background-color: rgba(157, 117, 140, 0.39);
                        text-transform: uppercase;
                        font-family: MyWebFont;
                        margin-left: auto;
                    }
                    .main_stock_card_raiting {
                    }
                    .main_sesonal_card_price {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        & > h3 {
                            color: $colorBlack;
                            font-size: rem(18);
                            font-weight: 300;
                            line-height: rem(18);
                        }
                        & > span {
                            color: #956d84;
                            font-size: rem(18);
                            font-weight: 700;
                            line-height: rem(18);
                            min-width: max-content;
                        }
                    }
                    a:first-of-type {
                        text-decoration: none;
                        color: $colorWhite;
                        text-align: center;
                        font-family: $fontFamily;
                        font-size: rem(16);
                        font-style: normal;
                        font-weight: 700;
                        line-height: rem(18);
                        padding: rem(22) rem(52);
                        max-width: rem(220);
                        width: 100%;
                        margin: 0 auto;
                        border-radius: rem(7);
                        background-color: #956d84;
                        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
                    }
                    a:last-of-type {
                        color:  #828282;
                        text-align: center;
                        font-family: Euclid Circular B;
                        font-size: rem(16);
                        font-style: normal;
                        font-weight: 400;
                        line-height: rem(18);
                        text-decoration-line: underline;
                    }
                }
                .main_sesonal_card:nth-of-type(4n+2) {
                    .main_sesonal_card_top {
                        padding-bottom: rem(57);
                    }
                }
                .main_sesonal_card:nth-of-type(4n+3) {
                    .main_sesonal_card_top {
                        padding-bottom: rem(67);
                    }
                }
                .main_sesonal_card:nth-of-type(4n+4) {
                    .main_sesonal_card_top {
                        padding-bottom: rem(106);
                    }
                }
            }
        }
    }
}
