@import url("fonts/stylesheet.css");

$fontSize: 16px;

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($fontSize)}rem;
}

$colorWhite: #fff;
$colorBlack: #333333;
$fontFamily: Museo Sans Cyrl;

* {
    box-sizing: border-box;
}

header.header {
    font-family: $fontFamily;
    .header_top {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $colorBlack;
        font-size: 1rem;
        color: $colorWhite;
        .header_container {
            max-width: rem(1450);
            padding-left: rem(15);
            padding-right: rem(15);
            display: flex;
            margin: 0 auto;
            ul {
                display: flex;
                align-items: center;
                column-gap: rem(60);
                margin-top: 0;
                margin-bottom: 0;
                padding: rem(15) 0 rem(14);
                li {
                    list-style: none;
                    display: flex;
                    column-gap: rem(12);
                    width: 11%;
                    span {
                    }
                    select {
                        background-color: #333333;
                        border: 1px solid #333333;
                        appearance: none;
                        background-image: url("../images/header/header_top/arrow.svg");
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position: 100%;
                        background-size: 10px, 5.714px;
                        width: 37%;
                        option {
                            background-color: #333333;
                            border: 1px solid #333333;
                        }
                    }
                }
            }
            ul:nth-of-type(1) {
                display: flex;
                padding-left: 0;
                align-items: center;
                flex: 1 1 auto;
                li:nth-of-type(3) {
                    width: 13%;
                }
                li:nth-of-type(4) {
                    div {
                        position: relative;
                        span {
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            flex-shrink: 0;
                            border-radius: 50%;
                            background-color: $colorWhite;
                            opacity: 0.7;
                            font-size: rem(10);
                            color: #414141;
                            left: 60%;
                            text-align: center;
                        }
                    }
                }
                li:nth-of-type(5) {
                    width: 17%;
                    align-items: center;
                }
            }
            ul:nth-of-type(2) {
                display: flex;
                padding-right: 0;
                align-items: center;
                max-width: rem(174);
                li {
                    button {
                        border: 0px solid transparent;
                        background-color: transparent;
                        color: $colorWhite;
                    }
                }
            }
        }
    }
    .header_content {
        padding-top: rem(65);
        .header_content_container {
            max-width: rem(1450);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: rem(15);
            padding-right: rem(15);
            margin: 0 auto;
            .header_content_left {
            }
            .header_content_center {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                .header_content_center_search {
                    max-width: rem(820);
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    column-gap: rem(21);
                    input {
                        width: 100%;
                        border-bottom: 1px solid #956d84;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                    }
                    input:nth-of-type(1) {
                        max-width: 22.6%;
                    }
                    input:nth-of-type(2) {
                        max-width: 73.2%;
                    }
                }
                .header_content_center_menu {
                    ul {
                        display: flex;
                        column-gap: rem(70);
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: rem(18);
                        text-transform: none;
                        list-style: none;
                        li {
                            a {
                                color: $colorBlack;
                                text-decoration: none;
                            }
                        }
                        li:hover {
                            a {
                                color: #956d84;
                            }
                        }
                    }
                }
            }
            .header_content_right {
                padding-right: 0;
                display: flex;
                flex-direction: column;
                row-gap: rem(16px);
                ul {
                    display: flex;
                    list-style: none;
                    column-gap: 13px;
                    align-items: center;
                    margin: 0 auto;
                    padding-left: 0;
                }
                a {
                    text-decoration: none;
                    font-size: rem(16);
                    font-weight: 300;
                    line-height: rem(18);
                    color: #333;
                }
                div {
                    display: flex;
                    column-gap: 19px;
                    align-items: center;
                    span {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 10px;
                    }
                }
            }
        }
    }
}

// main

main.main {
    .main_container {
        max-width: rem(1450);
        width: 100%;
        padding-left: rem(15);
        padding-right: rem(15);
        padding-top: rem(55);
        margin: 0 auto;
        .main_discount {
            display: grid;
            grid-template-areas:
                "a a b c"
                "a a d e";
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            gap: rem(28);
            .main_discount1 {
                grid-area: 1 / 1 / 3 / 3;
                img {
                    width: 100%;
                }
            }
            .main_discount2 {
                grid-area: 1 / 3 / 2 / 4;
                img {
                    width: 100%;
                }
            }
            .main_discount3 {
                grid-area: 1 / 4 / 2 / 5;
                img {
                    width: 100%;
                }
            }
            .main_discount4 {
                grid-area: 2 / 3 / 3 / 4;
                max-width: rem(336);
                max-height: rem(321);
                background-color: #ffdb6b;
                img {
                    width: calc(100vw / 4 - 69px);
                    display: block;
                    max-width: rem(336);
                    max-height: rem(321);
                    margin-left: auto;
                    object-fit: cover;
                }
            }
            .main_discount5 {
            }
            .main_discount6 {
                grid-area: 2 / 4 / 3 / 5;
                max-width: rem(336);
                max-height: rem(321);
                position: relative;
                picture:nth-of-type(1)  {
                    img {
                    width: 100%;
                }
                }
                picture:nth-of-type(2)  {
                    img {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    right: 0;
                }
                }
            }
            .main_discount7 {
            }
            .main_discount8 {
            }
        }
    }
}
